*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background: white;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #000;
}
nav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 800px) {
    .onMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
} 
@media(max-width: 425px) {
    .sidebar{
        width: 100%;
    }
}